type mtk_hal_mmagent_service, service_manager_type, hal_service_type;
type mtk_hal_videotelephony_service, service_manager_type, hal_service_type;
type netdagent_service, service_manager_type, hal_service_type;
